body{ 
    text-align: center ;
}

.btn{
    height: 200px;
    width:200px;
    border-radius: 20%;
    border:10px solid black;
   margin: 2.5rem;
}
.btncontainer{
    display:flex;
    justify-content: center;  
}
.red{
background-color: red;
}

.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.flash {
    background-color: white;
    transition: background-color 0.5s ease;
}
