.container{
    width: 600px;
    height: 300px;
    background-color: rgb(209, 105, 105);
    border: 2px solid black;
    display: grid;
}
.iteam{
    width: 100px;
    height: 50px;
    background-color:olive ;
    border: 2px solid black;
    text-align: center;
}