/* tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .element {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
}
